<!DOCTYPE html>

<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
</head>
<body class="card-body">
    <div>
        @RenderBody()
    </div>
    <script href="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>
